* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reducerContainer {
  width: 200px;

  margin: 2rem;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.buttonClick {
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  font-size: medium;
  cursor: pointer;
}
